---
import Card from "../../components/Card.astro";
---

<section class="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://imageio.forbes.com/specials-images/imageserve/62b322669e515ab7a37a1f0b/0x0.jpg?format=jpg&width=1200" alt="">
          <Card />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://i.guim.co.uk/img/media/2f9723cd3b3a3604c054f7c6dfad938da1da1e16/781_631_4115_2469/master/4115.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=f95c10e402d13755b67dc1fad6ff9f6d" alt="">
          <Card />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://www.ixbt.com/img/r30/00/02/55/01/apple-macbook-air-2022-apple-m2-big.jpg" alt="">
          <Card />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://i.insider.com/5bd89b215f1f751c393d7bd5?width=750&format=jpeg&auto=webp" alt="">

          <Card />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://yakutia-daily.ru/wp-content/uploads/2022/07/macbook-pro-14-and-16_overview__fz0lron5xyuu_og-1060x596.png" alt="">
          <Card />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://m.re-store.ru/upload/setka-editor/bf1/bf177a30af267bb974d5d2f7b3cf9ca6.jpg" alt="">
          <Card />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://www.macworld.com/wp-content/uploads/2023/02/get_old_version_of_macos.png?w=1024" alt="">
          <Card />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://guwahatitimes.com/wp-content/uploads/2020/07/ios-laptop-fake-mockup.jpg" alt="">
          <Card />
        </div>
      </div>
    </div>
  </div>
</section>
