---
import Card from "../../components/Card.astro";
---

<section class="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="src/assets/images/macbook-1.webp" alt="">
          <Card />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="src/assets/images/macbook-3.webp" alt="">
          <Card />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="src/assets/images/macbook-2.webp" alt="">
          <Card />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://i.insider.com/5bd89b215f1f751c393d7bd5?width=750&format=jpeg&auto=webp" alt="">

          <Card />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://yakutia-daily.ru/wp-content/uploads/2022/07/macbook-pro-14-and-16_overview__fz0lron5xyuu_og-1060x596.png" alt="">
          <Card />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://m.re-store.ru/upload/setka-editor/bf1/bf177a30af267bb974d5d2f7b3cf9ca6.jpg" alt="">
          <Card />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://www.macworld.com/wp-content/uploads/2023/02/get_old_version_of_macos.png?w=1024" alt="">
          <Card />
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card p-3 bg-light">
					<img src="https://guwahatitimes.com/wp-content/uploads/2020/07/ios-laptop-fake-mockup.jpg" alt="">
          <Card />
        </div>
      </div>
    </div>
  </div>
</section>
