<!-- card -->

			<!-- <img src="" class="card-img-top" alt="..."> -->
			<div class="mt-3 text-center">
					<h3 class="card-title">Macbook Air Pro</h3>
					<p class="card-text text-start">Ноутбуки Apple отличаются фирменной операционкой, которой не страшны вирусы, клавиатурой-«бабочкой», способностью выдержать от 12 часов без подзаряда и многими другими «фишками». При этом каждая модель имеет свои уникальные особенности. Какой же Макбук лучше всего выбрать? Далее – обзор актуальных вариантов и советы по выбору для всех желающих купить новый девайс от Эппл.</p>
					<a href="#" class="btn btn-info text-white">Buy</a>
			</div>
